<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.2/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stderr="true"
    bootstrap="./phpunit.bootstrap.php"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak_vendors" />
    </php>

    <testsuites>
        <testsuite name="DAMADoctrineTestBundle test suite">
            <directory>../tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
            <exclude>
                <file>../src/DAMA/DoctrineTestBundle/PHPUnit/PHPUnitListener.php</file>
            </exclude>
        </whitelist>
    </filter>
  
    <listeners>
        <listener class="\DAMA\DoctrineTestBundle\PHPUnit\PHPUnitListener" />
        <listener class="\Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

</phpunit>
